.content {
    .content-title {
        color: var(--highlight-color);
        font-size: 2rem;
        font-weight: 600;
        line-height: 120%;
    }
    .content-parag {
        color: var(--highlight-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 100%;
    }
}
.page-header {
    background-image: url("../images/page-header.png");
    background-color: var(--primary-color);
    height: 313px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h1 {
        color: var(--highlight-color);
        font-size: $display-small;
        font-weight: 500;
    }
}
.page-content {
    color: var(--highlight-color);
    p {
        font-size: 20px;
        line-height: 1.5;
    }
}

.solution-partnership {
    color: var(--highlight-color);
    &__title {
        font-size: $display-small;
        font-weight: 700;
        line-height: 120%;
    }
    p {
        font-size: $body-large;
    }
}
.solution-form-wrapper {
    .solution-form {
        .solution-form-title {
            font-size: $body-large;
            font-weight: 500;
        }
    }
}
.representation-content {
    color: var(--highlight-color);
    h2 {
        font-size: $display-small;
        font-weight: 700;
    }
    p {
        font-size: $body-large;
    }
}
.money-transfer-countries {
    color: var(--highlight-color);
    h2 {
        font-size: $headline-medium;
        font-weight: 500;
    }
}
