.contact {
    .contact-item {
        color: var(--highlight-color);
        h3 {
            font-size: $headline-small;
            font-weight: 500;
        }
        ul {
            li {
                margin-bottom: 0.25rem;
                display: flex;
                font-size: $body-large;
                span {
                    &:first-of-type {
                        min-width: 80px;
                    }
                }
                a {
                    color: var(--highlight-color);
                    text-decoration: none;
                    transition: all 0.25s;
                    &:hover {
                        color: var(--primary-color-hover);
                    }
                }
            }
        }
    }
}

.maps-point {
    &__title {
        font-size: $title-large;
        font-weight: 500;
        color: var(--highlight-color);
    }
    &__address {
        font-size: $body-large;
        color: var(--highlight-color);
    }
    &__btn {
        svg path {
            fill: var(--highlight-color);
        }
    }
}
