.content {
    .content-title {
        color: var(--highlight-color);
        font-size: 2rem;
        font-weight: 600;
        line-height: 120%;
    }
    .content-parag {
        color: var(--highlight-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 100%;
    }
}
.page-header {
    background: url("../images/page-header.png") var(--primary-color) no-repeat
        center;
    height: auto;
    background-size: cover;
    h1 {
        color: var(--highlight-color);
        font-size: $display-small;
        font-weight: 500;
    }
}
@media (min-width: 992px) {
    .page-header {
        height: 313px;
    }
}
.page-content {
    color: var(--highlight-color);
    p {
        font-size: 20px;
        line-height: 1.5;
    }
}

.solution-partnership {
    color: var(--highlight-color);
    &__title {
        font-size: $display-small;
        font-weight: 700;
        line-height: 120%;
    }
    p {
        font-size: $body-large;
    }
}
.solution-form-wrapper {
    .solution-form {
        .solution-form-title {
            font-size: $body-large;
            font-weight: 500;
        }
    }
}
.representation-content {
    color: var(--highlight-color);
    h2 {
        font-size: $display-small;
        font-weight: 700;
    }
    p {
        font-size: $body-large;
    }
}
.money-transfer-countries {
    color: var(--highlight-color);
    h2 {
        font-size: $headline-medium;
        font-weight: 500;
    }
}
.other-services-title {
    font-size: $headline-medium;
    font-weight: 500;
    color: var(--highlight-color);
}
.other-services {
    width: 300px;
    &__title {
        font-size: $headline-small;
        font-weight: 500;
        color: var(--highlight-color);
    }
    &__desc {
        font-size: $body-small;
        color: var(--highlight-color);
    }
}

.link-list {
    max-width: 600px;
    ul {
        li {
            margin-bottom: 1rem;
            a {
                color: var(--highlight-color);
                font-weight: 500;
                background: #f1f8fa;
                text-decoration: none;
                transition: all 0.25s;
                &:hover {
                    background: #dff3ff;
                }
            }
        }
    }
}
