.faq-content {
    max-width: 950px;
    .faq-content-title {
        font-size: $headline-medium;
        color: var(--highlight-color);
        font-weight: 500;
    }
    &__item {
        .faq-item_title {
            cursor: pointer;
            .faq-icon {
                background: #bedae3;
                svg {
                    transition: all 0.5s;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .faq-item_content {
            display: none;
            padding-top: 1rem;
            color: var(--highlight-color);
        }
        &.active {
            .faq-item_title {
                .faq-icon {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .faq-title {
            color: var(--highlight-color);
            font-size: $title-large;
            padding-right: 1rem;
        }
    }
}
