footer {
    background: var(--gray-color);
    .footer-bottom {
        ul {
            li {
                margin-right: 1rem;
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    color: var(--highlight-alt-color);
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.footer-social-media {
    ul {
        li {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: var(--highlight-alt-color);
                text-decoration: none;
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}
.footer-copy {
    color: var(--highlight-alt-color);
    font-size: 13px;
}
.footer-widget {
    width: 200px;
    .footer-widget-title {
        color: var(--highlight-alt-color);
        font-size: $title-large;
        font-weight: 500;
        border-bottom: 2px solid var(--primary-color);
        padding-bottom: 1rem;
        display: block;
        width: 100%;
        padding-right: 3rem;
        margin-bottom: 1.5rem;
    }
    a {
        color: var(--highlight-alt-color);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        li {
            font-size: $body-large;
            margin-bottom: 0.5rem;
            a {
                color: var(--highlight-alt-color);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    p {
        font-size: $body-large;
    }
}

@media (min-width: 768px) {
    footer {
        .footer-wrapper {
            .footer-logo {
                padding-top: 2rem;
                margin-bottom: 2rem;
                border-top: 1px solid rgba(44, 63, 77, 0.25);
                .footer-logo-left {
                    ul {
                        li {
                            &:last-of-type {
                                &::before {
                                    content: "/";
                                    color: var(--highlight-alt-color);
                                    font-size: 2rem;
                                    padding: 0 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
