:root {
    --primary-color: #ffc41d;
    --primary-color-hover: #ffd84a;
    --secondary-color: #2f4858;
    --secondary-color-hover: #33576b;
    --highlight-color: #192833;
    --highlight-alt-color: #2c3f4d;
    --gray-color: #f6f6f6;
    --footer-color: #374151;
}
