.statistics-wrapper {
    background: url("../images/statistics.png") #fff5c6 no-repeat center;
    height: auto;
    .statistics-item {
        span {
            color: var(--highlight-color);
            &:nth-child(1) {
                font-weight: 700;
                font-size: $display-large;
                margin-right: 0.5rem;
            }
            &:nth-child(2) {
                font-size: $body-large;
            }
        }
    }
}
.statistics-blue-wrapper {
    background: url("../images/statistics-blue.png") #f1f8fa no-repeat center;
    height: 190px;
    .statistics-item {
        &:nth-child(1) {
            margin-left: 100px;
        }
        &:nth-child(n + 2) {
            margin-left: 40px;
        }
        span {
            color: var(--highlight-color);
            &:nth-child(1) {
                font-weight: 700;
                font-size: $display-large;
                margin-right: 0.5rem;
            }
            &:nth-child(2) {
                font-size: $body-large;
            }
        }
    }
}
@media (min-width: 992) {
    .statistics-wrapper {
        height: 190px;
        .statistics-item {
            &:nth-child(1) {
                margin-left: 100px;
            }
            &:nth-child(n + 2) {
                margin-left: 40px;
            }
        }
    }
}
